#toplevel_page_integrate-dropbox
    .current.menu-top.toplevel_page_integrate-dropbox.menu-top-last
    .wp-menu-image
    img {
    filter: brightness(0);
}

.indbox-woocommerce-downloadable_files {
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
}

body {
    --mts-lms-btn-display: none;
}

body:has([name="external_url"]) {
    --mts-lms-btn-display: flex;
}

.indbox-btn.indbox-add-file-btn {
    background: #0160fe;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    font-weight: 700;
    letter-spacing: .5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: all 0.3s ease;
}

.indbox-btn.indbox-add-file-btn.indbox-mts-lms-button {
    z-index: 1050;
    position: fixed;
    right: 67px;
    top: 164px;
    display: var(--mts-lms-btn-display)
}

.indbox-btn.indbox-add-file-btn:hover {
    box-shadow: 0 0 5px #0160fe;
    background: #004ac5;
}

.indbox-icon.indbox-logo {
    height: 25px;
    width: 25px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../icons/20x20/integrate-dropbox-logo.svg');
}

.chakra-input__group.indbox-input-wrapper {
    flex-wrap: wrap;
    gap: 10px;
}

.indbox-file-browser-container.swal2-container {
    z-index: 999999;
}